# Archivos comprimidos y binarios grandes
*.zip
*.tar.gz
*.rar

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de entorno y configuración local
.env
*.log

# Carpetas de compilación y dependencias
target/
build/
node_modules/
.idea/
.vscode/

# Entorno virtual y archivos de Python
venv/
__pycache__/
*.pyc

# Base de datos local
db.sqlite3
